<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:vite="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
  <link rel="icon" type="image/x-icon" th:href="@{logo.svg}">
  <title>Greeting</title>
  <vite:import entry="src/greeting/main.ts"/>
</head>
<body>
<div class="greeting-container">
  <h1 th:text="${message}">Fallback Greeting!</h1>
  <p id="time"></p>
  <p id="update-text">(Random lorem to replace with JS in the parentheses)</p>
  <a href="/" class="back-link">Back to form</a>
</div>
</body>
</html>
